/HomeController.class
/HomeControllerTests.class
/IdeologyController.class
/IdeologyControllerTests.class
/Main$__clinit__closure1.class
/Main.class
/MainTests.class
/ReadingController.class
/ReadingControllerTests.class
